# Node dependencies
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET Build outputs
**/bin/
**/obj/
**/publish/

# IDE settings
.idea/
.vs/
*.user
*.suo
*.sln.docstates

# Environment secrets
*.env
*.env.local
appsettings.Development.json

# Operating System files
Thumbs.db
.DS_Store